$light-gray: rgb(202, 189, 189);
$white: rgba(255, 255, 255);
$black: rgb(0, 0, 0);
$light-green: rgba(180, 255, 180);
$light-yellow: rgba(190, 255, 40);
$green: rgba(0, 255, 0);
$cuadradito: #c9c7c7;
