@import '../../../sass/index.scss';

.cell {
  text-align: center;
  width: 2.5rem;
  height: 20px;
  border: 1px solid $light-gray;
  padding-top: 3px;
  border-radius: 5px;
  color: transparent;

  &--bajo {
    background-color: $white;
  }
  &--medio-bajo {
    background-color: $light-green;
  }
  &--medio-alto {
    background-color: $light-yellow;
  }
  &--alto {
    background-color: $green;
  }
}

.cell:hover {
  color: $black;
  cursor: pointer;
  font-weight: bold;
}
