@import '../../../sass/index.scss';

.cell {
  text-align: center;
  width: 2.5rem;
  border: 1px solid $light-gray;
  border-radius: 5px;

  &--nulo {
    background-color: rgba(255, 255, 255); // TODO: USar variables de scss
  }
  &--bajo {
    background-color: rgba(200, 255, 0);
  }
  &--medio-bajo {
    background-color: rgba(110, 255, 110);
  }
  &--medio-alto {
    background-color: rgba(60, 255, 60);
  }
  &--alto {
    background-color: rgba(0, 255, 0);
  }
}
