@import './Month/styles.scss';
@import './Table/styles.scss';


* {	 
	box-sizing: border-box;
	// outline: red dashed 1px;
}
body {
	font-size: 16px;
	// height: 100vw;
  margin: 3%
}
h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 8rem;
  margin-top: 0;
}