@import './Month/styles.scss';
@import './Table/styles.scss';
@import '../../sass/index.scss';

* {
	box-sizing: border-box;
}
body {
  background-color: rgb(230, 229, 232);
	font-size: 16px;
  margin: 3%
}


h1 {
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-left: 4rem;
  font-family: open sans;
  font-weight: bold;
}
