.month-picker-input{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-right: 0.7rem ;

    &-label {
        padding-right: 1rem;
        font-size: 1rem;
        font-family: open sans;
        font-weight: 700;
    }

    #month-picker {
        border: 1px transparent ;
        font-weight: bold;
        width: 8.5rem;
        border-radius: 10px;
    }
}
