.month-picker-input{
    width: 80vw;
    display: flex;
    justify-content: flex-end;

    &-label {
        padding-right: 1rem;
    }

    #month-picker {
        border: 1px transparent ;
        font-weight: bold;
        width: 8.5rem;
    }
}
